.build
.swiftinit
.testing
.vscode

Assets/secrets/
Assets/icons/*.jpg

/crash*

Local/Deployment/data/
Local/Server/Certificates/*.pem

Migrations/symbolgraphs.json

node_modules/

*.profdata
*.profraw

Package.swift.json
