/.build
/.build.*
/.mongod/*
/.ssgc
/.testing
/.unidoc

/.vscode/launch.json
/.vscode/settings.json

/*.tar.gz
/*.bson
/unidoc
/local
/swiftpm

/Assets/certificates/*.pem
/Assets/secrets/
/Assets/icons/*.jpg

/TestModules/Determinism/*.json
/TestModules/SymbolGraphs/*.json
/TestModules/*.json
/TestModules/.build

/TestPackages/*/.build
/TestPackages/*/.build.*
/TestPackages/*/Package.resolved
/TestPackages/*.bson

/TypeScript/node_modules

/Package.resolved
