.build
.build.*
.mongod/*
.ssgc
.testing
.unidoc
.vscode
.DS_Store

/*.tar.gz
/unidoc
/swiftpm

/Aarch64
/Assets/certificates/*.pem
/Assets/secrets/
/Assets/icons/*.jpg

/TestModules/*.json
/TestPackages/*.bson
/TypeScript/node_modules

*.profdata
*.profraw
