/* Error: Undefined mixin.
 *    ,
 * 15 |         @include inline-image;
 *    |         ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   Stylesheets/_blockquote.scss 15:9  @import
 *   Stylesheets/Main.scss 2:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 15 \2502          @include inline-image;\a    \2502          ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   Stylesheets/_blockquote.scss 15:9  @import\a   Stylesheets/Main.scss 2:9          root stylesheet";
}
