@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
pre {
  margin: 2rem 0 2rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

pre.snippet code {
  color: rgb(134, 134, 134);
  counter-set: line 0;
}
pre.snippet code span.newline {
  counter-increment: line;
}
pre.snippet code span.newline:after {
  color: rgb(192, 192, 192);
  position: relative;
  display: inline-block;
  content: counter(line);
  width: 0;
  right: 2rem;
  direction: rtl;
  word-wrap: normal;
}

code {
  font-family: "IBM Plex Mono", monospace;
  white-space: pre-wrap;
  hyphens: none;
  font-size: 90.625%;
}

code span.syntax-identifier,
code span.syntax-operator {
  color: rgb(22, 22, 22);
}
code span.syntax-binding {
  color: rgb(22, 22, 22);
  font-style: italic;
}
code span.syntax-attribute,
code span.syntax-directive,
code span.syntax-keyword,
code span.syntax-magic {
  color: rgb(253, 39, 99);
}
code span.syntax-interpolation,
code span.syntax-pseudo {
  color: rgb(255, 86, 158);
}
code span.syntax-literal-number,
code span.syntax-literal-string {
  color: rgb(141, 61, 231);
}
code span.syntax-actor, code a.syntax-actor,
code span.syntax-class, code a.syntax-class,
code span.syntax-type, code a.syntax-type {
  color: rgb(255, 123, 0);
}
code span.syntax-typealias {
  color: rgb(255, 86, 158);
  font-style: italic;
}
code span.syntax-comment,
code span.syntax-doccomment {
  color: rgb(109, 109, 109);
  font-style: italic;
}

nav.decl {
  padding: 0.5rem 0;
}

nav.decl div.breadcrumbs {
  color: rgb(134, 134, 134);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-size: 90.625%;
}
nav.decl div.breadcrumbs a {
  color: rgb(112, 112, 112);
}
nav.decl div.breadcrumbs > *:first-child {
  margin-left: 0;
}
nav.decl div.breadcrumbs > * {
  margin: 0 0.2rem;
}
nav.decl div.breadcrumbs > *:last-child {
  margin-right: 0;
  color: rgb(22, 22, 22);
}

section.introduction {
  margin-top: 4rem;
  padding: 0 0 0.75rem;
  border-bottom: 2px solid rgb(253, 39, 99);
}
section.introduction div.eyebrows {
  color: rgb(112, 112, 112);
  font-style: italic;
  display: flex;
  flex-direction: row;
}
section.introduction div.eyebrows .phylum {
  flex: 1;
}
section.introduction div.eyebrows span.module span.culture:before,
section.introduction div.eyebrows span.module span.culture:after {
  margin: 0 0.2rem;
}
section.introduction div.eyebrows span.module span.culture:before {
  content: "(";
}
section.introduction div.eyebrows span.module span.culture .version:last-child:after {
  content: "";
  padding: 0;
}
section.introduction div.eyebrows span.module span.culture .version:after {
  content: ":";
  padding: 0 0.25rem;
}
section.introduction div.eyebrows span.module span.culture:after {
  content: ")";
}
section.introduction a.source {
  font-family: "IBM Plex Mono", monospace;
  font-size: 87.5%;
  color: rgb(112, 112, 112);
  text-decoration-color: rgb(253, 39, 99);
}
section.introduction a.source span.file {
  font-weight: 500;
}
section.introduction a.source span.file,
section.introduction a.source span.line {
  color: rgb(253, 39, 99);
}

section.declaration pre {
  text-indent: -2.5rem;
  padding-left: 2.5rem;
  margin: 2.5rem 0 2.5rem;
}
section.declaration pre code {
  font-size: inherit;
}

section.parameters > *,
section.parameters > dl > dd,
section.returns > *,
section.returns > dl > dd {
  padding-left: 3rem;
  margin-left: 0;
}
section.parameters > h2,
section.parameters > dl,
section.returns > h2,
section.returns > dl {
  padding-left: 0;
}

section.parameters dl {
  counter-set: parameter-index -1;
}
section.parameters dl dt {
  counter-increment: parameter-index;
  margin-top: 2rem;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
}
section.parameters dl dt:before {
  content: "$" counter(parameter-index);
  display: inline-block;
  min-width: 3rem;
  color: rgb(192, 192, 192);
  font-weight: normal;
}

section.group code.constraints {
  line-height: 1.6rem;
  color: rgb(134, 134, 134);
  font-size: inherit;
  display: block;
  text-indent: -3.6rem;
  margin-left: 3.6rem;
}
section.group code.constraints span.syntax-keyword {
  color: rgb(109, 109, 109);
}
section.group code.constraints span.syntax-type,
section.group code.constraints span.syntax-typealias {
  color: rgb(255, 123, 0);
  font-weight: 500;
}
section.group code.constraints span.syntax-type a,
section.group code.constraints span.syntax-typealias a {
  color: inherit;
}

section.group ul,
section.superforms ul {
  padding: 0;
  list-style-type: none;
}
section.group ul > li,
section.superforms ul > li {
  margin: 0.5rem 0 0.5rem 0;
  padding: 0;
}
section.group ul > li > a,
section.superforms ul > li > a {
  display: block;
  text-indent: -2.5rem;
  margin-left: 2.5rem;
  line-height: 1.5rem;
  font-family: "IBM Plex Mono", monospace;
  color: rgb(109, 109, 109);
  font-size: inherit;
  padding: 0.8em 0 0 0;
}
section.group ul > li > a span.syntax-identifier,
section.superforms ul > li > a span.syntax-identifier {
  color: rgb(253, 39, 99);
}
section.group ul > li p,
section.superforms ul > li p {
  padding: 0 0 0 2.5rem;
  line-height: 1.3rem;
  font-size: 87.5%;
}

h1, h2, h3, h4 {
  font-family: "DM Sans", sans-serif;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

h3 {
  font-size: 130%;
}

h4 {
  font-size: 110%;
}

p {
  line-height: 1.8rem;
  hyphens: auto;
}

p code {
  background-color: rgb(233, 233, 233);
  padding: 0.2rem 0.5rem 0.25rem;
  line-height: 0;
  border-radius: 0.4rem;
}

aside {
  position: relative;
  margin: 2rem 0;
  left: -1rem;
}
aside > * {
  margin-left: 1rem;
}
aside h3 {
  border-radius: 0.2rem;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: inherit;
  background: rgb(112, 112, 112);
  color: rgb(240, 240, 240);
}

aside.important h3,
aside.warning h3 {
  background: rgb(253, 39, 99);
  color: rgb(240, 240, 240);
}

html {
  font-size: 1rem;
  background-color: rgb(240, 240, 240);
}

body {
  margin: 0;
  color: rgb(22, 22, 22);
  font-family: "Literata", serif;
  font-variant-numeric: oldstyle-nums;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body main {
  min-height: 100vw;
}
body main > *:last-child {
  padding-bottom: 20rem;
}

body header nav > *,
body main {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

body main section.introduction > p,
body main section.introduction > dl,
body main section.parameters > p,
body main section.parameters > dl,
body main section.returns > p,
body main section.returns > dl,
body main section.throws > p,
body main section.throws > dl {
  max-width: 40rem;
}

body main section.details p {
  max-width: 40rem;
}
body main section.details aside {
  max-width: 41rem;
}

section.extension ul > li > p {
  max-width: 40rem;
}

a {
  color: rgb(253, 39, 99);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
  text-underline-offset: 0.35em;
}

/*# sourceMappingURL=Main.css.map */
