@import 'Typefaces';

section.introduction > nav.calendar
{
    margin: 2rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;

    > h1
    {
        margin: 0 0.5em;
    }

    > h1, a
    {
        font-size: 1.8rem;
        font-family: $typeface-serif;
        font-weight: normal;
        line-height: 100%;
    }

    > a
    {
        color: var(--fg-semi);
    }
    > a:hover,
    > a:focus
    {
        color: var(--fg-accent);
        text-decoration: none;
    }
}
section.details
{
    > ol.calendar
    {
        list-style: none;
        padding: 0;
        display: grid;

        grid-gap: 0.25rem;

        @media only screen and (min-width: 56rem)
        {
            grid-gap: 0.5rem;
        }

        grid-template-columns: repeat(7, 1fr);

        li
        {
            > *
            {
                min-height: 3rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                background-color: var(--bg-codewell);

                @media only screen and (min-width: 56rem)
                {
                    padding: 0.35rem 0.5rem 0.5rem 0.5rem;
                }

                border-radius: 0.25rem;

                p:first-child
                {
                    text-align: right;
                }
                p
                {
                    padding: 0;
                    margin: 0;
                    line-height: 1em;
                }
            }

            > div
            {
                p
                {
                    color: var(--fg-semi);
                }
            }

            > a
            {
                p.crawled
                {
                    font-weight: bold;
                }
            }

            > *
            {
                span.m
                {
                    color: var(--fg-light);
                }
                span.d
                {
                    color: var(--fg);
                }
            }

            > a:hover, a:focus
            {
                background-color: var(--bg-accent);
                text-decoration: none;

                span.m
                {
                    color: var(--fg-accent-semi);
                }
                span.d
                {
                    color: var(--fg-accent);
                }
            }

        }
        li.first
        {
            > *
            {
                span.m
                {
                    color: var(--fg);
                }
            }

            > a:hover, a:focus
            {
                span.m
                {
                    color: var(--fg-accent);
                }
            }
        }
    }
}
