pre
{
    margin: 2rem 0 2rem;
    line-height: 1.5rem;
}
// line numbers
pre.snippet code
{
    counter-set: line 0;

    span.newline
    {
        counter-increment: line;
    }
    span.newline:after
    {
        color: $light-snippet-line-number;

        position: relative;
        display: inline-block;
        content: counter(line);
        width: 0;
        right: 2rem;
        direction: rtl;
        word-wrap: normal;
    }
}
pre.snippet code.language-swift
{
    color: $light-swift;
}
