@import 'Colors';
@import 'Typefaces';

code
{
    font-family: $typeface-monospace;
    white-space: pre-wrap;
    hyphens: none;
    font-size: 90.625%;
}
code
{
    span.syntax-identifier,
    span.syntax-operator
    {
        color: $light-foreground;
    }
    span.syntax-binding
    {
        color: $light-foreground;
    }
    span.syntax-attribute,
    span.syntax-directive,
    span.syntax-keyword,
    span.syntax-magic
    {
        color: $light-accent-hot-pink;
    }
    span.syntax-interpolation,
    span.syntax-pseudo
    {
        color: $light-accent-barbie-pink;
    }
    span.syntax-literal-number,
    span.syntax-literal-string
    {
        color: $light-accent-violet;
    }
    span.syntax-actor, a.syntax-actor,
    span.syntax-class, a.syntax-class,
    span.syntax-type, a.syntax-type
    {
        color: $light-accent-yellow;
    }
    span.syntax-typealias
    {
        color: $light-accent-barbie-pink;
        font-style: italic;
    }
    span.syntax-comment,
    span.syntax-doccomment
    {
        color: $light-accent-comment;
        font-style: italic;
    }
}
