$light-background: rgb(240, 240, 240);
$light-foreground: rgb(22, 22, 22);
$light-foreground-semi: rgb(112, 112, 112);

$light-code-well: rgb(233, 233, 233);
$light-snippet-line-number: rgb(192, 192, 192);

$light-swift: rgb(134, 134, 134);
$light-accent-comment: rgb(109, 109, 109);
$light-accent-barbie-pink: rgb(255, 86, 158);
$light-accent-hot-pink: rgb(253, 39, 99);
$light-accent-yellow: rgb(255, 123, 0);
$light-accent-violet: rgb(141, 61, 231);

$dark-accent-yellow: rgb(255, 157, 32);
$dark-accent-violet: rgb(150, 80, 255);

$near-white: rgb(200, 200, 200);
$dark-white: rgb(180, 180, 180);
$bright-gray: rgb(170, 170, 170);
$light-gray: rgb(140, 140, 140);
$medium-gray: rgb(110, 110, 110);
$dark-gray: rgb(68, 68, 68);
$shadow-gray: rgb(50, 50, 50);
$deep-black: rgb(16, 16, 16);
$pitch-black: rgb(8, 8, 8);

$swift-red: rgb(240, 81, 66);
$swift-dark-red: rgb(180, 40, 30);
$swift-yellow: rgb(255, 157, 32);
$swift-dark-yellow: rgb(180, 100, 0);

$swift-lavender: rgb(169, 138, 255);
