$light-background: rgb(240, 240, 240);
$light-background-translucent: rgba(240, 240, 240, 0.5);
$light-background-pink: rgb(255, 224, 239);
$light-background-pink-translucent: rgba(255, 224, 239, 0.5);
$light-foreground: rgb(22, 22, 22);
$light-foreground-fade: rgb(50, 50, 50);
$light-foreground-semi: rgb(109, 109, 109);
$light-foreground-faint: rgb(172, 172, 172);

$light-foreground-elevated: rgb(223, 223, 223);
$light-foreground-elevated-shadow: rgb(172, 172, 172);

$light-coral-elevated: rgb(255, 103, 103);
$light-coral-elevated-shadow: rgb(235, 75, 75);

$light-code-well: rgb(233, 233, 233);
$light-snippet-line-number: rgb(192, 192, 192);

$light-swift: rgb(134, 134, 134);
$light-accent-comment: $light-foreground-semi;
$light-accent-barbie-pink-faint: rgb(255, 172, 200);
$light-accent-barbie-pink-semi: rgb(255, 136, 176);
$light-accent-barbie-pink: rgb(255, 86, 158);
$light-accent-barbie-pink-shadow: rgb(209, 23, 104);

$light-accent-hot-pink: rgb(253, 39, 110);
$light-accent-yellow: rgb(255, 123, 0);
$light-accent-lavender: rgb(189, 108, 255);
$light-accent-violet: rgb(141, 61, 231);
$light-accent-aqua: rgb(0, 193, 207);
$light-accent-aqua-shadow: rgb(0, 162, 173);

$light-diff-insert: rgba(0, 255, 255, 0.3);
$light-diff-delete: rgba(255, 72, 0, 0.3);
$light-diff-update: rgba(255, 0, 212, 0.3);

$dark-accent-yellow: rgb(255, 157, 32);
$dark-accent-violet: rgb(150, 80, 255);
