nav.decl
{
    padding: 0.5rem 0;

    overflow: hidden;
    overflow-wrap: break-word;
}
nav.decl div.breadcrumbs
{
    color: $light-swift;
    font-family: $typeface-monospace;
    font-weight: 500;
    font-size: 90.625%;

    a
    {
        color: $light-foreground-semi;
    }

    > *:first-child
    {
        margin-left: 0;
    }
    > *
    {
        margin: 0 0.2rem;
    }
    > *:last-child
    {
        margin-right: 0;
        color: $light-foreground;
    }
}

section.introduction
{
    margin-top: 4rem;
    padding: 0 0 0.75rem;
    border-bottom: 2px solid $light-accent-hot-pink;

    div.eyebrows
    {
        color: $light-foreground-semi;
        font-style: italic;

        display: flex;
        flex-direction: row;

        .phylum
        {
            flex: 1;

            .kink
            {
                font-weight: 600;
            }
        }


        span.module
        {
            span.culture:before,
            span.culture:after
            {
                margin: 0 0.2rem;
            }

            span.culture:before
            {
                content: '(';
            }
            span.culture
            {
                .version:last-child:after
                {
                    content: '';
                    padding: 0;
                }
                .version:after
                {
                    content: ':';
                    padding: 0 0.25rem;
                }
            }
            span.culture:after
            {
                content: ')';
            }
        }
    }

    a.source
    {
        font-family: $typeface-monospace;
        font-size: 87.5%;
        color: $light-foreground-semi;
        text-decoration-color: $light-accent-hot-pink;

        span.file
        {
            font-weight: 500;
        }

        span.file,
        span.line
        {
            color: $light-accent-hot-pink;
        }
    }
}
section.declaration pre
{
    text-indent: -2.5rem;
    padding-left: 2.5rem;
    margin: 2.5rem 0 2.5rem;
    code
    {
        font-size: inherit;
    }
}

section.parameters,
section.returns
{
    > *,
    > dl > dd
    {
        padding-left: 3rem;
        margin-left: 0;
    }
    > h2,
    > dl
    {
        padding-left: 0;
    }
}
section.parameters
{
    dl
    {
        counter-set: parameter-index -1;
        dt
        {
            counter-increment: parameter-index;
            margin-top: 2rem;

            font-family: $typeface-monospace;
            font-weight: 700;
        }
        dt:before
        {
            content: '$' counter(parameter-index);
            display: inline-block;
            min-width: 3rem;
            color: $light-snippet-line-number;
            font-weight: normal;
        }
    }
}
