div.breadcrumbs
{
    color: $light-swift;
    font-family: $typeface-monospace;
    font-weight: 500;
    font-size: 90.625%;

    a
    {
        color: $light-foreground-semi;
    }

    > *:first-child
    {
        margin-left: 0;
    }
    > *
    {
        margin: 0 0.2rem;
    }
    > *:last-child
    {
        margin-right: 0;
        color: $light-foreground;
    }
}

section.introduction
{
    margin-top: 0;
    padding: 0 0 0.75rem;
    border-bottom: 2px solid $light-accent-barbie-pink;

    div.eyebrows
    {
        color: $light-foreground-semi;
        font-style: italic;

        display: flex;
        flex-direction: row;

        .phylum
        {
            flex: 1;

            .kink
            {
                font-weight: 600;
            }
        }

        span.domain
        {
            span.culture:before,
            span.culture:after,
            span.package:after
            {
                margin: 0 0.2rem;
            }

            span.package:after
            {
                content: ':';
            }

            span.culture:before
            {
                content: '(';
            }
            span.culture
            {
                .version:last-child:after
                {
                    content: '';
                    padding: 0;
                }
                .version:after
                {
                    content: '/';
                    padding: 0 0.25rem;
                }
            }
            span.culture:after
            {
                content: ')';
            }
        }
    }

    a.source
    {
        font-family: $typeface-monospace;
        font-size: 87.5%;
        color: $light-foreground-semi;
        text-decoration-color: $light-accent-barbie-pink;

        span.file
        {
            font-weight: 500;
        }

        span.file,
        span.line
        {
            color: $light-accent-barbie-pink;
        }
    }
}

section.spi,
section.deprecation
{
    margin: 0.75rem 0;

    display: flex;
    align-items: stretch;
}
section.spi::before,
section.deprecation::before
{
    padding: 0.25rem 1rem 0.5rem 1rem;

    font-family: $typeface-serif;
    font-weight: 400;

    border-radius: 0.5rem 0 0 0.5rem;
    color: white;
}
section.spi::before
{
    font-size: 125%;
    background-color: $light-accent-barbie-pink;
    box-shadow: 0 0.25rem 0 0 $light-accent-barbie-pink-shadow;
    content: '@';
}
section.deprecation::before
{
    font-size: 150%;
    background-color: $light-coral-elevated;
    box-shadow: 0 0.25rem 0 0 $light-coral-elevated-shadow;
    content: '!';
}
section.spi > p,
section.deprecation > p
{
    flex: 1 1 auto;
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    font-family: $typeface-monospace;

    background-color: $light-foreground-elevated;
    border-radius: 0 0.5rem 0.5rem 0;
    box-shadow: 0 0.25rem 0 0 $light-foreground-elevated-shadow;
}

section.availability
{
    margin: 0.75rem 0;

    dl
    {
        margin: 0;
        font-size: 87.5%;
        font-family: $typeface-sans;

        dt, dd
        {
            display: inline-block;
            background: $light-accent-barbie-pink;
            color: white;
        }
        dt:first-child
        {
            margin: 0;
        }
        dt
        {
            margin: 0 0 0 0.5em;
            padding: 0.1em 0.2em 0.1em 0.4em;
            border-radius: 0.25rem 0 0 0.25rem;
        }
        dd
        {
            margin: 0;
            padding: 0.1em 0.4em 0.1em 0.2em;
            border-radius: 0 0.25rem 0.25rem 0;
        }
    }
}
section.declaration pre
{
    margin: 2.5rem 0 2.5rem;

    code a
    {
        text-decoration: underline dashed;
    }
    code a:hover
    {
        text-decoration: underline;
    }

    code
    {
        display: block;
        text-indent: -2.5rem;
        margin-left: 2.5rem;
        font-size: inherit;
    }

    code.multiline
    {
        text-indent: 0;
        margin-left: 0;
    }
}

section.parameters,
section.returns
{
    > *,
    > dl > dd
    {
        padding-left: 3rem;
        margin-left: 0;
    }
    > h2,
    > dl
    {
        padding-left: 0;
    }
}
section.parameters
{
    dl
    {
        counter-set: parameter-index -1;
        dt
        {
            counter-increment: parameter-index;
            margin-top: 2rem;

            font-family: $typeface-monospace;
            font-weight: 700;
        }
        dt:before
        {
            content: '$' counter(parameter-index);
            display: inline-block;
            min-width: 3rem;
            color: $light-snippet-line-number;
            font-weight: normal;
        }
    }
}
