div.more
{
    margin: 1.5rem 0;
    text-align: center;

    > a.button,
    > form button
    {
        display: block;
        padding: 0.5rem 0;
        border: 2px dashed $light-accent-barbie-pink-semi;
        text-decoration: none;
    }
    > a.button:hover,
    > a.button:focus,
    > form button:hover,
    > form button:focus
    {
        border-color: $light-accent-barbie-pink;
    }

    > a,
    > form button
    {
        font-family: $typeface-sans;
        font-weight: 700;
        font-size: 120%;
    }

    > form button
    {
        width: 100%;
        background: none;
        box-shadow: none;
        border-radius: 0;
        color: $light-accent-barbie-pink;
    }

    > div.charts
    {
        display: flex;
        flex-direction: row;
        justify-content: center;

        h2, h3
        {
            font-size: 100%;
            margin: 0;
        }
        h3
        {
            font-weight: 500;
            color: $light-foreground-semi;
        }

        figure
        {
            margin: 1rem;

            div.pie
            {
                font-size: 10px;
            }
        }
    }
}

