div.build-pipeline
{
    display: flex;
    gap: 1rem;

    button.area
    {
        margin: 0;
        height: 100%;
    }

    > *
    {
        flex: 1;
        height: 5rem;
    }

    > div
    {
        @include dashed-area(var(--fg-light));

        box-sizing: border-box;
        display: flex;

        //  Horizontal alignment, when not wrapped
        justify-content: center;
        //  Horizontal alignment, when wrapped
        text-align: center;
        //  Vertical alignment
        align-items: center;

        color: var(--fg-semi);
    }
    > div.phase
    {
        border-color: var(--fg-semi);
        color: var(--fg);
    }
}
