figure
{
    margin: 2rem 0;

    img
    {
        max-width: 100%;
        max-height: 40rem;
    }
}

figure.decl div.pie-color > svg g
{
    > *
    {
        fill: rgb(255, 255, 255);
    }
    > *.function
    {
        fill: rgb(255, 103, 103);
    }
    > *.operator
    {
        fill: rgb(255, 50, 111);
    }
    > *.constructor
    {
        fill: rgb(255, 103, 141);
    }
    > *.method
    {
        fill: rgb(255, 170, 196);
    }
    > *.subscript
    {
        fill: rgb(250, 104, 255);
    }
    > *.functor
    {
        fill: rgb(198, 112, 255);
    }
    > *.protocol
    {
        fill: rgb(82, 206, 255);
    }
    > *.requirement
    {
        fill: rgb(130, 255, 249);
    }
    > *.witness
    {
        fill: rgb(171, 255, 244);
    }
    > *.macro.attached
    {
        fill: rgb(61, 255, 103);
    }
    > *.macro.freestanding
    {
        fill: rgb(132, 255, 159);
    }
    > *.structure
    {
        fill: rgb(255, 244, 94);
    }
    > *.class
    {
        fill: rgb(255, 212, 72);
    }
    > *.actor
    {
        fill: rgb(255, 197, 39);
    }
    > *.typealias
    {
        fill: rgb(255, 154, 38);
    }
}
figure.coverage div.pie-color > svg g
{
    > *.undocumented
    {
        fill: rgb(238, 238, 238);
    }
    > *.indirect
    {
        fill: rgb(255, 170, 196);
    }
    > *.direct
    {
        fill: rgb(255, 103, 141);
    }
}

figure div.pie
{
    > div.pie-color
    {
        height: 0;
        width: 0;
        margin: 0;
    }

    > div.pie-color > svg,
    > div.pie-geometry
    {
        width: 12em;
        height: 12em;
        margin: 0;
        position: relative;
    }

    > div.pie-geometry
    {
        transition: box-shadow 0.1s ease-out;
        pointer-events: none;

        border-radius: 6em;
        box-shadow:
            inset 0 -0.5em 0.75em -0.75em rgba(255, 255, 255, 0.3),
            inset 0 -0.4em 0.5px   0.1em rgba(0,0,0,0.24),
            inset 0 -1.3em 5em     0.1em rgba(0,0,0,0.14);
    }
    > div.pie-color:hover + div.pie-geometry
    {
        box-shadow:
            inset 0 -0.5em 1.5em -0.75em rgba(255, 255, 255, 0.5),
            inset 0 -0.4em 0.5px   0.1em rgba(0,0,0,0.18),
            inset 0 -1.3em 5em     0.1em rgba(0,0,0,0.11);
    }
}
figure.chart
{
    display: flex;
    flex-direction: column;
}
figure.chart div.pie
{
    //  This controls the size of the pie disc.
    font-size: 20px;

    margin: 0 2rem 2rem 2rem;
}
@media only screen and (min-width: 50rem)
{
    figure.chart
    {
        align-items: center;
        flex-direction: row;
    }
    figure.chart div.pie
    {
        margin: 0;
    }
}
figure.chart div.pie + figcaption
{
    align-self: flex-start;
    dl
    {
        margin: 0 0 0 1rem;

        display: grid;
        grid-template-columns: auto 4rem;
        direction: rtl;

        dd
        {
            grid-column: 2;
            margin: 0;
        }
        dt
        {
            direction: ltr;
            margin-left: 1rem;
        }
    }
}
