form
{
    button
    {
        display: inline-block;
        background: var(--fg-accent);
        box-shadow: 0 0.2rem 0 0 var(--fg-accent-semi);
        border: none;
        border-radius: 0.25rem;

        color: white;
        font-family: $typeface-sans;
        font-size: 87.5%;
    }
    button:hover
    {
        cursor: pointer;
    }
    button:hover,
    button:focus
    {
        box-shadow: 0 0.2rem 0 0 var(--fg-accent-light);
    }
    button:active
    {
        box-shadow: none;
        transform: translateY(0.2rem);
    }
}
