//  Collapsed groups
section.group
{
    details
    {
        summary
        {
            cursor: pointer;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            text-align: center;

            p
            {
                margin: 0;
            }

            p.view,
            p.hide
            {
                font-family: $typeface-sans;
                font-weight: 700;
                font-size: 125%;

            }

            p.hide
            {
                display: none;
            }

            p.reason
            {
                margin-top: 0.5rem;
                font-style: italic;
                color: $light-foreground-semi;

                span.count
                {
                    font-style: normal;
                }
            }
        }

        summary::marker
        {
            content: '';
        }
    }
    details[open]
    {
        summary
        {
            p.view,
            p.reason
            {
                display: none;
            }

            p.hide
            {
                display: block;
            }
        }
    }
}
//  Generic constraints
section.generic-context code.constraints,
section.group code.constraints
{
    line-height: 1.6rem;
    color: $light-swift;
    font-size: inherit;

    display: block;
    text-indent: -3.6rem;
    margin-left: 3.6rem;

    span.xk // keyword
    {
        color: $light-accent-comment;
    }

    span.xt, // type
    span.xu  // typealias
    {
        color: $light-accent-yellow;
        font-weight: 500;

        a
        {
            color: inherit;
        }
    }
}
section.group h2
{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
section.group h2 + h3,
section.group code.constraints + h3
{
    margin-top: 1rem;
}
section.group h2 + h3
{
    border-top: solid 1px $light-accent-barbie-pink;
}
section.group code.constraints + h3
{
    border-top: solid 1px $light-accent-yellow;
}
section.group.extension h3
{
    margin-top: 1rem;
    border-top: dashed 1px $light-foreground-semi;
    padding-top: 0.75rem;

    font-weight: 600;
    color: $light-foreground-semi;
}
section.group ul
{
    padding: 0;
    margin-bottom: 3rem;
    list-style-type: none;
}
