//  Generic constraints
section.group code.constraints
{
    line-height: 1.6rem;
    color: $light-swift;
    font-size: inherit;

    display: block;
    text-indent: -3.6rem;
    margin-left: 3.6rem;

    span.syntax-keyword
    {
        color: $light-accent-comment;
    }

    span.syntax-type,
    span.syntax-typealias
    {
        color: $light-accent-yellow;
        font-weight: 500;

        a
        {
            color: inherit;
        }
    }
}
section.group h2
{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
section.group h2 + h3,
section.group code.constraints + h3
{
    margin-top: 1rem;
}
section.group h2 + h3
{
    border-top: solid 1px $light-accent-barbie-pink;
}
section.group code.constraints + h3
{
    border-top: solid 1px $light-accent-yellow;
}
section.group.extension h3
{
    margin-top: 1rem;
    border-top: dashed 1px $light-foreground-semi;
    padding-top: 0.75rem;

    font-weight: 600;
    color: $light-foreground-semi;
}
section.group ul
{
    padding: 0;
    margin-bottom: 3rem;
    list-style-type: none;

    > li.article
    {
        margin: 1.5rem 0 0.5rem 0;

        a:first-child
        {
            color: inherit;

            h3
            {
                font-family: $typeface-serif;
                font-weight: normal;
                font-size: 125%;
                margin: 0.5rem 0;
            }
        }
        a.read-more
        {
            font-style: italic;
        }
    }

    > li.article + li.article
    {
        margin-top: 2rem;
    }

    > li.module
    {
        margin: 0.5rem 0 0.5rem 0;

        > a
        {
            font-style: italic;
        }
    }
    > li.decl
    {
        margin: 0.5rem 0 0.5rem 0;
        padding: 0;

        > a
        {
            display: block;
            padding: 0.8em 0 0 0;

            text-indent: -2.5rem;
            margin-left: 2.5rem;
            line-height: 1.5rem;

            font-family: $typeface-monospace;
            color: $light-accent-comment;

            font-size: inherit;

            span.syntax-identifier
            {
                color: $light-accent-hot-pink;
            }
        }

        > a.not-recommended
        {
            text-decoration: line-through;

            span.syntax-identifier
            {
                color: inherit;
            }
        }

        p
        {
            padding: 0 0 0 2.5rem;
            line-height: 1.3rem;
            font-size: 90.625%;
        }
    }
}
