main.home
{
    div.search-tool
    {
        height: 5rem;

        position: relative;
        z-index: 1;

    }
    div.searchbar
    {
        max-width: 100%;
    }
}

div.feeds
{
    section
    {
        margin-bottom: 1rem;
    }
    section:last-child
    {
        text-align: right;
    }
}
@media only screen and (min-width: 50rem)
{
    div.feeds
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        min-width: 30rem;
    }
}
div.feeds h2
{
    margin: 0;
    padding: 0;
    font-size: 112.5%;
    color: $light-foreground;
}
div.feeds ol
{
    list-style-type: none;
    padding: 0;
    margin: 0;

    li
    {
        margin: 0.5rem 0;


        > p.edition
        {
            margin: 0;

            > span:first-child
            {
                color: $light-foreground-fade;
            }
            > *:first-child
            {
                font-style: italic;
            }
            > *:last-child
            {
                margin-left: 0.5em;
            }
        }


        > p.age
        {
            margin: 0;
            font-size: 87.5%;
            color: $light-foreground-semi;
        }
    }
}
