main.home
{
    > div.search-tool
    {
        height: 4rem;

        position: relative;
        z-index: 1;

        div.searchbar
        {
            max-width: 100%;
        }
    }

    > nav
    {
        margin-bottom: 1rem;

        ul
        {
            list-style-type: none;
            padding: 0;
            margin: 0;

            font-family: $typeface-sans;

            display: flex;
            flex-direction: column;

            li
            {
                padding: 0.25rem 0;
            }
        }

        @media only screen and (min-width: 56rem)
        {
            ul
            {
                display: grid;
                grid-template-columns: 1fr 1fr;

                > li
                {
                    display: flex;
                }
                > li:nth-child(even)
                {
                    justify-content: flex-end;
                }
            }
        }
    }

    > div.feeds
    {
        section
        {
            margin-bottom: 1rem;
        }
        section:last-child
        {
            text-align: right;
        }
    }

    @media only screen and (min-width: 56rem)
    {
        > div.feeds
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            min-width: 30rem;
        }
    }

    > div.feeds
    {
        h2
        {
            margin: 0;
            padding: 0;
            font-size: 112.5%;
            color: var(--fg);
        }
        ol
        {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li
            {
                margin: 0.5rem 0;


                > p.edition
                {
                    margin: 0;

                    > span:first-child
                    {
                        color: var(--fg-heavy);
                    }
                    > *:first-child
                    {
                        font-style: italic;
                    }
                    > *:last-child
                    {
                        margin-left: 0.5em;
                    }
                }


                > p.age
                {
                    margin: 0;
                    font-size: 87.5%;
                    color: var(--fg-semi);
                }
            }
        }
    }
}
