@import 'Mixins/InlineCode';
@import 'Mixins/InlineImage';

p
{
    line-height: 1.8rem;
    hyphens: auto;

    code
    {
        @include inline-code;
    }
    img
    {
        @include inline-image;
    }
}

p.note
{
    color: var(--fg-semi);
    font-style: italic;

    em
    {
        font-style: normal;
    }
}
