@import 'Typefaces';
@import 'Colors';

kbd
{
    background-color: $light-code-well;
    padding: 0.2rem 0.5rem 0.25rem;
    border-radius: 0.3em;
    box-shadow: 0 0.25rem 0 $light-foreground-elevated-shadow;
}

p
{
    line-height: 1.8rem;
    hyphens: auto;
}
p code
{
    background-color: $light-code-well;
    font-size: 90.625%;

    padding: 0.2rem 0.5rem 0.25rem;
    line-height: 0;
    border-radius: 0.4rem;
}
