@import 'Mixins/InlineCode';

section.details
{
    aside code,
    table code
    {
        @include inline-code;
    }

    table.constituents,
    table.dependencies,
    table.platforms
    {
        width: 100%;
    }
    table.constituents
    {
        td
        {
            font-style: italic;
        }
    }
    table.dependencies
    {
        td:first-child
        {
            font-style: italic;
        }
        td span.upto
        {
            padding: 0 0.5rem;
        }
    }

    section.parameters
    {
        > h2
        {
            padding-left: 0;
        }
        > dl
        {
            counter-set: parameter-index -1;

            > dt
            {
                counter-increment: parameter-index;
            }
            > dt:not([id])::before, // backwards compatibility with older symbol graphs
            > dt > a::before
            {
                content: '$' counter(parameter-index);
            }
        }
    }

    section.returns
    {
        > h2
        {
            padding-left: 0;
        }
        > *
        {
            padding-left: 3rem;
            margin-left: 0;
        }
    }

    pre.title
    {
        //padding-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;

        //background-color: $light-code-well;
        font-family: $typeface-monospace;
        font-weight: 700;
        color: $light-foreground-fade;
    }
    pre.title + pre
    {
        margin-top: 0.5rem;
    }
    pre
    {
        font-size: 90.625%;
    }
    pre + a.source
    {
        margin-top: 0rem;
        position: relative;
        top: -1rem;
    }
}
