section.introduction
{
    margin-top: 0;
    padding: 0 0 0.75rem;
    border-bottom: 2px solid var(--fg-accent);

    div.eyebrows
    {
        color: var(--fg-semi);
        font-style: italic;

        display: flex;
        flex-direction: row;

        .phylum
        {
            flex: 1;

            .kink
            {
                font-weight: 600;
            }
        }

        span.domain
        {
            span.extends
            {
                display: inline-block;
                padding: 0 0.35em;
                font-family: $typeface-serif;
            }

            span.jump:before,
            span.jump:after
            {
                margin: 0 0.2rem;
            }

            span.jump:before
            {
                content: '(';
            }
            span.jump:after
            {
                content: ')';
            }
        }
    }

    nav.breadcrumbs
    {
        margin-top: 2em;

        color: var(--fg-swift);
        font-family: $typeface-monospace;
        font-weight: 500;
        font-size: 90.625%;

        a:not(:hover)
        {
            color: var(--fg-semi);
            text-decoration: underline dashed;
        }

        > *:first-child
        {
            margin-left: 0;
        }
        > *
        {
            margin: 0 0.2rem;
        }
        > *:last-child
        {
            margin-right: 0;
        }
    }
    nav.breadcrumbs + h1
    {
        margin-top: 0.5em;
    }

    p.chyron
    {
        margin: 0;
        max-width: inherit;
    }

    a.source + a.source
    {
        margin-top: 0.5rem;
    }
}
