@import 'Colors';
@import 'Typefaces';

ul.nountree
{
    margin-top: 10rem;

    font-family: $typeface-monospace;
    font-size: 0.8125rem;

    > li::first-letter
    {
        color: $light-accent-barbie-pink;
    }
}
ul.nountree,
ul.nountree ul
{
    list-style-type: none;
    padding-left: 1.0rem;
}
ul.nountree li
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: '...';
    color: $light-foreground-semi;

    a
    {
        color: inherit;
    }
    a:hover
    {
        text-decoration: none;
        color: $light-accent-barbie-pink;
    }
}
