@import 'Colors';
@import 'Typefaces';

div.nountree
{
    margin-left: 1rem;
    margin-top: 10rem;

    font-family: $typeface-monospace;
    font-size: 0.8125rem;

    > a::first-letter
    {
        color: $light-accent-barbie-pink;
    }

    > a.extension.local::first-letter
    {
        color: $light-accent-lavender;
    }

    > a.extension.foreign::first-letter
    {
        color: $light-accent-aqua;
    }
}
div.nountree div.indent
{
    padding-left: 1.0rem;
}
div.nountree
{
    a, span
    {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: '...';
        color: $light-foreground-semi;

    }
    a:hover
    {
        text-decoration: none;
        color: $light-accent-barbie-pink;
    }
    a.extension.local:hover
    {
        color: $light-accent-lavender;
    }
    a.extension.foreign:hover
    {
        color: $light-accent-aqua;
    }
}
