div.tooltips
{
    position: fixed;
    z-index: 1;

    > div
    {
        display: none;
        pointer-events: none;
    }

    > div.visible
    {
        position: fixed;
        display: block;
        width: 30rem;

        @include backdrop-blur;

        color: var(--fg);
    }
}
