span.tooltip
{
    width: 0;
    height: 0;
    position: relative;

    > span.card
    {
        all: initial;

        position: absolute;
        display: block;
        width: 30rem;

        @include backdrop-blur;

        color: var(--fg);

        span.pre,
        span.p
        {
            display: block;
        }
    }
}
