table.tags
{
    width: 100%;

    tr.modern
    {
        font-weight: 700;
    }

    td.graph
    {
        font-weight: 700;
        color: var(--fg-semi);

        span.kb
        {
            font-weight: normal;
        }

        form
        {
            display: inline-block;
            margin-left: 0.5em;
        }
    }

    td.graph > span:first-child::before
    {
        content: '✗';
        color: var(--fg-semi);
        margin-right: 0.5rem;
    }
    td.graph > .abi:first-child::before
    {
        content: '✓';
        color: var(--fg-accent);
        margin-right: 0.5rem;
    }
    td.graph > .abi.uplinking:first-child::before
    {
        content: '⟳';
    }
    td.graph > .abi.unlinking:first-child::before
    {
        content: '▼';
    }
    td.graph > .abi.deleting:first-child::before
    {
        content: '✗';
    }
}
