td.placeholder,
span.placeholder,
span.parenthetical
{
    color: var(--fg-semi);
    font-style: italic;
}

span.parenthetical::before
{
    content: '(';
    font-style: normal;
    margin-left: 0.4em;
}
span.parenthetical::after
{
    content: ')';
    font-style: normal;
}
