table
{
    th
    {
        text-align: left;
        font-family: $typeface-sans;
        padding-bottom: 0.5rem;

        color: var(--fg-semi);
        border-bottom: 2px solid var(--fg-swift);
    }
    tbody tr:first-child td
    {
        padding-top: 0.5rem;
    }
    th,
    td
    {
        padding-left: 0.5rem;
    }
    th:first-child,
    td:first-child
    {
        padding-left: 0;
    }
}
