@import '_Colors';
@import '_Typefaces';

nav.admin
{
    ul
    {
        padding: 0;
        display: flex;

        li
        {
            list-style-type: none;

            a
            {
                color: $light-accent-barbie-pink;
                font-family: $typeface-sans;
                font-weight: 700;
            }
        }

        li:not(:first-child)::before
        {
            padding: 0 1em;
            font-size: 75%;
            content: 'â¤';
            color: $light-accent-barbie-pink;
        }
    }
}

figure.client div.pie-color > svg g
{
    > *.googlebot
    {
        fill: #5b82ff;
    }
    > *.bingbot
    {
        fill: #3e6bff;
    }
    > *.baiduspider
    {
        fill: #5c51ff;
    }
    > *.yandexbot
    {
        fill: #6953ff;
    }
    > *.minor-search-engine
    {
        fill: #ae6aff;
    }
    > *.barbie
    {
        fill: #ff73a1;
    }
    > *.bratz
    {
        fill: #f2bbcd;
    }
    > *.ahrefsbot
    {
        fill: #e1e1e1;
    }
    > *.robot
    {
        fill: #afafaf;
    }
    > *.tooling
    {
        fill: #999;
    }
}
figure.language div.pie-color > svg g
{
    > *.bn
    {
        fill: #d88f5f;
    }

    > *.ar
    {
        fill: #2ba720;
    }
    > *.de
    {
        fill: #645551;
    }
    > *.en
    {
        fill: #fd74a2;
    }
    > *.es
    {
        fill: #ffb62f;
    }
    > *.fi
    {
        fill: #ebf9ff;
    }
    > *.fr
    {
        fill: #4e6cae;
    }
    > *.he
    {
        fill: #5398ff;
    }
    > *.hi
    {
        fill: #ffb686;
    }
    > *.it
    {
        fill: #6edf7d;
    }
    > *.ja
    {
        fill: #ffc3cb;
    }
    > *.ko
    {
        fill: #e75568;
    }
    > *.nl
    {
        fill: #ff8921;
    }
    > *.pl
    {
        fill: #ffcf73;
    }
    > *.pt
    {
        fill: #38db7c;
    }
    > *.ru
    {
        fill: #007a3d;
    }
    > *.sr
    {
        fill: #ce6170;
    }
    > *.tr
    {
        fill: #f22e53;
    }
    > *.uk
    {
        fill: #7fa25d;
    }
    > *.vi
    {
        fill: #d85518;
    }
    > *.zh
    {
        fill: #c7001b;
    }
}
figure.status div.pie-color > svg g
{
    > *.multiple-choices
    {
        fill: rgb(255, 154, 38);
    }
    > *.not-modified
    {
        fill: $light-accent-hot-pink;
    }
    > *.ok
    {
        fill: $light-accent-barbie-pink;
    }
    > *.redirected-permanently
    {
        fill: rgb(130, 255, 249);
    }
    > *.redirected-temporarily
    {
        fill: rgb(171, 255, 244);
    }
    > *.not-found
    {
        fill: rgb(255, 244, 94);
    }
    > *.gone
    {
        fill: rgb(255, 206, 70);
    }
    > *.errored
    {
        fill: rgb(255, 154, 38);
    }
    > *.unauthorized
    {
        fill: rgb(255, 103, 103);
    }
}
