@import '_Colors';
@import '_Typefaces';

nav.admin
{
    ul
    {
        padding: 0;
        display: flex;

        li
        {
            list-style-type: none;

            a
            {
                color: $light-accent-barbie-pink;
                font-family: $typeface-sans;
                font-weight: 700;
            }
        }

        li:not(:first-child)::before
        {
            padding: 0 1em;
            font-size: 75%;
            content: 'â¤';
            color: $light-accent-barbie-pink;
        }
    }
}

figure div.pie
{
    > div.pie-color > svg g
    {
        > *.agent.googlebot
        {
            fill: #5b82ff;
        }
        > *.agent.major-search-engine
        {
            fill: #6953ff;
        }
        > *.agent.minor-search-engine
        {
            fill: #ae6aff;
        }
        > *.agent.barbie
        {
            fill: #ff73a1;
        }
        > *.agent.bratz
        {
            fill: #f2bbcd;
        }
        > *.agent.robot
        {
            fill: #e1e1e1;
        }
        > *.agent.tool
        {
            fill: #999;
        }

        > *.language.zh
        {
            fill: #c7001b;
        }
        > *.language.ko
        {
            fill: #e75568;
        }
        > *.language.ja
        {
            fill: #ffc3cb;
        }
        > *.language.es
        {
            fill: #ffb62f;
        }
        > *.language.pt
        {
            fill: #38db7c;
        }
        > *.language.de
        {
            fill: #1f1f1f;
        }
        > *.language.en
        {
            fill: #fd74a2;
        }
        > *.language.ar
        {
            fill: #2ba720;
        }
        > *.language.hi
        {
            fill: #ffb686;
        }
        > *.language.bn
        {
            fill: #d88f5f;
        }
        > *.language.ru
        {
            fill: #007a3d;
        }
        > *.language.other
        {
            fill: #999;
        }
        > *.language.none
        {
            fill: #5a5a5a;
        }

        > *.status.multiple-choices
        {
            fill: rgb(255, 154, 38);
        }
        > *.status.not-modified
        {
            fill: $light-accent-hot-pink;
        }
        > *.status.ok
        {
            fill: $light-accent-barbie-pink;
        }
        > *.status.redirected-permanently
        {
            fill: rgb(130, 255, 249);
        }
        > *.status.redirected-temporarily
        {
            fill: rgb(171, 255, 244);
        }
        > *.status.not-found
        {
            fill: rgb(255, 244, 94);
        }
        > *.status.gone
        {
            fill: rgb(255, 206, 70);
        }
        > *.status.errored
        {
            fill: rgb(255, 154, 38);
        }
        > *.status.unauthorized
        {
            fill: rgb(255, 103, 103);
        }
    }
}
