@import '_Colors';
@import '_Typefaces';

nav.admin
{
    ul
    {
        padding: 0;
        display: flex;

        li
        {
            list-style-type: none;

            a
            {
                color: $light-accent-barbie-pink;
                font-family: $typeface-sans;
                font-weight: 700;
            }
        }

        li:not(:first-child)::before
        {
            padding: 0 1em;
            font-size: 75%;
            content: 'â¤';
            color: $light-accent-barbie-pink;
        }
    }
}

figure div.pie
{
    > div.pie-color > svg g
    {
        > *.likely-googlebot
        {
            fill: #5b82ff;
        }
        > *.likely-major-search-engines
        {
            fill: #6953ff;
        }
        > *.likely-minor-search-engines
        {
            fill: #ae6aff;
        }
        > *.likely-barbies
        {
            fill: #ff73a1;
        }
        > *.likely-tools
        {
            fill: #999;
        }
        > *.likely-bots
        {
            fill: #e1e1e1;
        }

        > *.multiple-choices
        {
            fill: rgb(255, 154, 38);
        }
        > *.not-modified
        {
            fill: $light-accent-hot-pink;
        }
        > *.ok
        {
            fill: $light-accent-barbie-pink;
        }
        > *.redirected-permanently
        {
            fill: rgb(130, 255, 249);
        }
        > *.redirected-temporarily
        {
            fill: rgb(171, 255, 244);
        }
        > *.not-found
        {
            fill: rgb(255, 244, 94);
        }
        > *.errored
        {
            fill: rgb(255, 154, 38);
        }
        > *.unauthorized
        {
            fill: rgb(255, 103, 103);
        }
    }
}
