@import 'mixins/backdrop-blur';

@import 'root';

@import 'a';
@import 'blockquote';
@import 'button';
@import 'code';
@import 'div/app';
@import 'div/columns';
@import 'div/constraints';
@import 'div/home';
@import 'div/hstack';
@import 'div/menu';
@import 'div/more';
@import 'div/navigator';
@import 'div/search';
@import 'div/sidebar';
@import 'div/tooltips';
@import 'dl';
@import 'figure';
@import 'form';
@import 'header';
@import 'kbd';
@import 'nav';
@import 'ol';
@import 'p';
@import 'pre';
@import 'section';
@import 'section/availability';
@import 'section/calendar';
@import 'section/declaration';
@import 'section/details';
@import 'section/events';
@import 'section/group';
@import 'section/introduction';
@import 'section/literature';
@import 'section/metadata';
@import 'span';
@import 'table';
@import 'ul';

@import 'Headings';

html
{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body
{
    min-height: 100vh;
    margin: 0;
}

body main
{
    section.introduction,
    section.parameters,
    section.returns,
    section.throws
    {
        > p,
        > dl
        {
            max-width: 40rem;
        }
    }
    section.details
    {
        p, figure
        {
            max-width: 40rem;
        }
        aside
        {
            max-width: 41rem
        }
    }
    section.extension ul > li
    {
        > p
        {
            max-width: 40rem;
        }
    }

    > *:last-child
    {
        padding-bottom: 5rem;
    }
}

label.checkbox
{
    color: var(--fg-heavy);

    line-height: 1em;

    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.3em;
}

input[type="checkbox"],
input[type="radio"]
{
    // For iOS < 15 to remove gradient background
    background-color: var(--bg);
}

input[type="checkbox"], input[type="radio"]
{
    appearance: none;
    margin: 0;

    font-size: inherit;
    height: 1em;
    width: 1em;

    display: grid;
    place-content: center;

    transform: translateY(2px);
    border: 2px solid var(--fg-semi);
    border-radius: 0.1em;
}
input[type="checkbox"]::before, input[type="radio"]::before
{
    content: "";
    width: 0.65em;
    height: 0.65em;
    background-color: var(--bg);
}
input[type="checkbox"]:checked, input[type="radio"]:checked
{
    border-color: var(--fg-accent);
    background-color: var(--fg-accent);
}
input[type="checkbox"]:checked::before, input[type="radio"]:checked::before
{
    transform-origin: bottom left;
    clip-path: polygon(100% 13%, 39% 100%, 0 70%, 11% 53%, 37% 71%, 83% 0);
}
