@import 'Charts';
@import 'Colors';
@import 'CodeBlocks';
@import 'CodeSpans';
@import 'Declarations';
@import 'Groups';
@import 'Logo';
@import 'Searchbars';
@import 'Sidebar';
@import 'Typefaces';
@import 'Prose';

body
{
    min-height: 100vw;
    margin: 0;

    > header
    {
        position: fixed;
        z-index: 1;
        width: 100%;
    }

    > *
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        > *.sidebar
        {
            display: none;
        }

        > *.content
        {
            flex: 0 1 48rem;

            padding-left: 1rem;
            padding-right: 1rem;

            overflow: hidden;
            overflow-wrap: break-word;
        }
    }
}
@media only screen and (min-width: 50rem)
{
    body > *
    {
        > *.sidebar
        {
            display: block;
            flex: 0 0 16rem;
            width: 16rem;
        }

        > *.content
        {
            padding-left: 4rem;
        }
    }
}

body nav
{
    background-color: $light-background;
    width: 100%;
    min-height: 1.5rem;
    position: relative;

    box-shadow: -1rem 0 0 $light-background;

    padding: 0.25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    overflow-wrap: break-word;
}

body main
{
    margin-top: 6rem;

    section.introduction,
    section.parameters,
    section.returns,
    section.throws
    {
        > p,
        > dl
        {
            max-width: 40rem;
        }
    }
    section.details
    {
        p
        {
            max-width: 40rem;
        }
        aside
        {
            max-width: 41rem
        }
    }
    section.extension ul > li
    {
        > p
        {
            max-width: 40rem;
        }
    }

    > *:last-child
    {
        padding-bottom: 10rem;
    }
}

html
{
    font-size: 1.0rem;
    background-color: $light-background;
}
body
{
    color: $light-foreground;
    font-family: $typeface-serif;

    font-variant-numeric: oldstyle-nums;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

a
{
    color: $light-accent-barbie-pink;
    text-decoration: none;
}
a:hover, a:focus
{
    text-decoration: underline;
    text-underline-offset: 0.35em;
}
