@import 'Colors';
@import 'Columns';
@import 'CodeBlocks';
@import 'CodeHighlights';

html
{
    font-size: 1.0rem;
    background-color: $cream-white;
}

body
{
    margin: 0;

    color: $near-black;
    font-family: 'Literata', serif;

    font-variant-numeric: oldstyle-nums;
    overflow-wrap: break-word;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body main
{
    @include centered-column($width: 48rem);
    min-height: 100vw;

    > *:last-child
    {
        padding-bottom: 20rem;
    }
    a
    {
        color: $light-accent-hot-pink;
    }

    article
    {
        p
        {
            line-height: 1.8rem;
            hyphens: auto;
        }
    }


}
body main section.extension ul > li a
{
    font-family: 'IBM Plex Mono', monospace;

    color: $light-accent-comment;

    span.syntax-identifier
    {
        color: $light-accent-hot-pink;
    }
}

h1, h2, h3
{
    font-family: 'DM Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

code
{
    font-family: 'IBM Plex Mono', monospace;
    white-space: pre-wrap;
    hyphens: none;
    font-size: 93.75%;
}
