@import 'Charts';
@import 'Colors';
@import 'CodeBlocks';
@import 'CodeSpans';
@import 'Declarations';
@import 'Groups';
@import 'Home';
@import 'Logo';
@import 'Notices';
@import 'Search';
@import 'Sidebar';
@import 'Tables';
@import 'Typefaces';
@import 'Prose';

body
{
    min-height: 100vw;
    margin: 0;

    > header.app
    {
        position: fixed;
        z-index: 1;
        width: 100%;
    }

    > *
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        > *.sidebar
        {
            display: none;
        }

        > *.content
        {
            flex: 0 1 48rem;

            padding-left: 1rem;
            padding-right: 1rem;

            overflow: hidden;
            overflow-wrap: break-word;
        }
    }

    main
    {
        margin-top: 8rem;
    }
}
@media only screen and (min-width: 50rem)
{
    body main
    {
        margin-top: 6rem;
    }

    body > *
    {
        > *.sidebar
        {
            display: block;
            flex: 0 0 16rem;
            width: 16rem;
        }

        > *.content
        {
            padding-left: 4rem;
        }
    }
}

body nav
{
    background-color: $light-background;
    width: 100%;
    min-height: 1.5rem;
    position: relative;

    box-shadow: -1rem 0 0 $light-background;

    padding: 0.25rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    overflow-wrap: break-word;
}

body main
{
    section.introduction,
    section.parameters,
    section.returns,
    section.throws
    {
        > p,
        > dl
        {
            max-width: 40rem;
        }
    }
    section.details
    {
        p
        {
            max-width: 40rem;
        }
        aside
        {
            max-width: 41rem
        }
    }
    section.extension ul > li
    {
        > p
        {
            max-width: 40rem;
        }
    }

    > *:last-child
    {
        padding-bottom: 5rem;
    }
}

html
{
    font-size: 1.0rem;
    background-color: $light-background;
}
body
{
    color: $light-foreground;
    font-family: $typeface-serif;

    font-variant-numeric: oldstyle-nums;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

label.checkbox
{
    color: $light-foreground-fade;

    line-height: 1em;

    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.3em;
}

input[type="checkbox"]
{
    appearance: none;
    // For iOS < 15 to remove gradient background
    background-color: white;
    margin: 0;

    font-size: inherit;
    height: 1em;
    width: 1em;

    display: grid;
    place-content: center;

    transform: translateY(2px);
    border: 2px solid $light-foreground-semi;
    border-radius: 0.1em;
}
input[type="checkbox"]::before
{
    content: "";
    width: 0.65em;
    height: 0.65em;
    background-color: white;
}
input[type="checkbox"]:checked
{
    border-color: $light-accent-barbie-pink;
    background-color: $light-accent-barbie-pink;
}
input[type="checkbox"]:checked::before
{
    transform-origin: bottom left;
    clip-path: polygon(100% 13%, 39% 100%, 0 70%, 11% 53%, 37% 71%, 83% 0);
}

a
{
    color: $light-accent-barbie-pink;
    text-decoration: none;
    text-underline-offset: 0.35em;
}
a:hover, a:focus
{
    text-decoration: underline;
}
