@import 'Colors';
@import 'Columns';
@import 'CodeBlocks';
@import 'CodeSpans';
@import 'Declarations';
@import 'Groups';
@import 'Typefaces';
@import 'Prose';

html
{
    font-size: 1.0rem;
    background-color: $light-background;
}

body
{
    margin: 0;

    color: $light-foreground;
    font-family: $typeface-serif;

    font-variant-numeric: oldstyle-nums;
    overflow-wrap: break-word;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

//  Vertical layout.
body main
{
    min-height: 100vw;

    > *:last-child
    {
        padding-bottom: 20rem;
    }
}
//  Horizontal layout.
body header nav > *,
body main
{
    @include centered-column($width: 48rem);
}
body main section.introduction,
body main section.parameters,
body main section.returns,
body main section.throws
{
    > p,
    > dl
    {
        max-width: 40rem;
    }
}
body main section.details
{
    p
    {
        max-width: 40rem;
    }
    aside
    {
        max-width: 41rem
    }
}
section.extension ul > li
{
    > p
    {
        max-width: 40rem;
    }
}

a
{
    color: $light-accent-hot-pink;
    text-decoration: none;
}
a:hover, a:focus
{
    text-decoration: underline;
    text-underline-offset: 0.35em;
}
