version: "3.9"
services:
    unidoc-mongod:
        image: mongo:latest
        container_name: unidoc-mongod-container
        hostname: unidoc-mongod
        networks:
            - unidoc-test
        ports:
            - 27017:27017
        restart: always
        volumes:
            # cannot put this in docker-entrypoint-initdb.d, it does not work
            - ./unidoc-rs-init.js:/unidoc-rs-init.js
            - ./unidoc-rs.conf:/etc/mongod.conf
            - ../../../.mongod:/data/db
        command: mongod --config /etc/mongod.conf


networks:
    unidoc-test:
        name: unidoc-test
        enable_ipv6: true
        ipam:
           config:
               - subnet: 2001:0DB8::/112
