name: build

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    linux:
        runs-on: ubuntu-22.04
        name: ${{ matrix.image }}

        strategy:
            matrix:
                image:
                -   swift:5.9.2-amazonlinux2
        steps:
            -   name: checkout repository
                uses: actions/checkout@v3

            -   name: set up mock deployments
                run: |
                    docker compose -f Local/Deployment/docker-compose.yml up -d

            -   name: initialize replica set
                run: |
                    timeout 60s bash -c \
                    'until docker exec -t unidoc-mongod-container /bin/mongosh --file /unidoc-rs-init.js; do sleep 1; done'

            -   name: build and test
                run: |
                    docker run -t --rm \
                        --network=unidoc-test \
                        --name swift-environment \
                        -v $PWD:/swift/swift-unidoc \
                        -w /swift/swift-unidoc \
                        ${{ matrix.image }} \
                        /bin/bash .github/pipeline

            -   name: export binary tools
                uses: actions/upload-artifact@v3
                with:
                    name: unidoc-tools-${{ matrix.image }}
                    path: |
                        .build/release/SwiftinitServer
                        .build/release/UnidocBuild
