# This workflow builds the project under the “starter” configuration, namely, what you would get
# if you ran `swift build` without any arguments. We use this to verify that we can generate the
# documentation for Unidoc itself.
name: documentation

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]

jobs:
    linux:
        runs-on: ubuntu-24.04
        name: Ubuntu 24.04
        env:
            UNIDOC_ENABLE_INDEXSTORE: "0"
        steps:
            -   name: Install Swift
                uses: tayloraswift/swift-install-action@master
                with:
                    swift-prefix: "swift-6.2-release/ubuntu2404/swift-6.2-RELEASE"
                    swift-id: "swift-6.2-RELEASE-ubuntu24.04"

            #   This installs an older version of Unidoc, not the one we are testing.
            #   We use `--static-swift-stdlib` so it doesn’t matter if the Unidoc binary was
            #   built with a different version of Swift.
            -   name: Install Unidoc
                uses: tayloraswift/swift-unidoc-action@master

            -   name: Checkout repository
                uses: actions/checkout@v3

            -   name: Build documentation
                run: |
                    unidoc compile \
                        --ci fail-on-errors \
                        --project-path . \
                        --swift-toolchain $SWIFT_INSTALLATION

    macos:
        runs-on: macos-15
        name: macOS
        env:
            UNIDOC_ENABLE_INDEXSTORE: "0"

        steps:
            -   name: Install Unidoc
                uses: tayloraswift/swift-unidoc-action@master

            -   name: Checkout repository
                uses: actions/checkout@v3

            -   name: Build documentation
                run: |
                    unidoc compile \
                        --ci fail-on-errors \
                        --project-path .
